Hello Earthlings,
my name is {{alienName}} but you can call me {{humanName}}.
I come from {{planet}} in the {{galaxy}} galaxy.
I would like to {{#actions}}{{action}}{{#comma}}, {{/comma}}{{/actions}}.

Thank you,
{{alienName}}
